main {
    background-image: url('https://webneel.com/wallpaper/sites/default/files/images/08-2018/1-nature-wallpaper-grass-hd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
